* {
    box-sizing: border-box;
}

html{
    width: 100vw; 
    height:100vh; 
}

body {
    background-image: linear-gradient( to right , #e0c3fc , #8ec5fc);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
      
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

li {
    padding: 10px;
}

input {
    margin: 0;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;

}

h1 {
    border-bottom: 1px solid gainsboro;
    text-align: center;
    padding: 30px;

/* para fazer a borda preciso de 3 características: 1 grossura(px), 2 a forma se é sólida, 
tracejada etc e a 3 cor. Todas essas características entram antes do ponto e vírgula sem nada somente espaço */
}

#listaCaixa {
    width: 100%;
    
}

#content {
    background-color: white;
    margin-top: 80px;
    margin-bottom: 400px;
    width: 50%;

  
}

.addbtn {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #ba7af8;
    color: white;
}


.item_adicionado {
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
}

.item_clicado {
    text-decoration: line-through;
    color: gray;
    
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnLido {
    padding: 10px;
    width: 250px;
    height: 50px;
    background-color: #ba7af8;
    color: white;
}

#btnRemover{
    padding: 10px;
    width: 250px;
    height: 50px;
    background-color: #ba7af8;
    color: white;

}

#btnSelecionados {
    padding: 10px;
    width: 250px;
    height: 50px;
    background-color: #ba7af8;
    color: white;

}

.fechar {
    float: right;
}


@media (max-width:320px){
h1{
    font-size: 20px;
}
    

}

@media (max-width:425px){

    h1 {
        font-size: 25px;
    }
    #content {
        width: 80%;
        font-size: 10px;
    }

    #btnLido {
        width: 60%;
        font-size: 10px;
    }

    #btnRemover{
        width: 60%;
        font-size: 10px;
    }

    #btnSelecionados {
        width: 60%;
        font-size: 10px;

    }
    
 
}
